
.ContenedorRegistro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
  }
  
.Forms{
    width: 31,5%;
    align-items: center;
    align-content: center;
    align-self: center;
}


.Nombre{
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border-color:  rgb(199, 176, 235);
    border-style: solid;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 20px;
    color: white;
}

.Correo{
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border-color:  rgb(199, 176, 235);
    border-style: solid;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 20px;
    color: white;
}

.Constraseña{
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    border-color:  rgb(199, 176, 235);
    border-style: solid;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 20px;
    color: white;
}

.BotonR{
    background-color: rgb(199, 176, 235);
    color:white;
    border-width: 3px;
    border-color: rgb(199, 176, 235);
    border-style: solid;
    font-family: 'Pathway Gothic One', sans-serif;
    position: relative;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 20px;
    width: 100%;
}